@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    background: #f6edea;
}

.btn:hover {
    background: #efe4df;
}

.btn:active {
    background: #e7d9d3;
}

.card-blur {
    opacity: 0.5;
    filter: blur(2px);
    transition: all 0.5s ease;
}

.card-active {
    transform: scale(1.2);
    z-index: 10;
    transition: all 0.5s ease;
}

@layer base {
    body {
        @apply text-lg leading-8 text-primary;
    }
    .h1 {
        @apply text-5xl font-bold mb-6 tracking-[10%] uppercase;
    }
    .h2 {
        @apply font-semibold text-[26px] mb-6 leading-[46px];
    }

    .btn {
        @apply rounded-md  text-primary font-medium;
    }
    .section {
        @apply p-10 max-w-7xl mx-auto;
    }
}
